<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/discover"></ion-back-button>
    </ion-buttons>
    <ion-buttons *ngIf="!isDonor" slot="end">
      <ion-button routerLink="/request/new-request">
        <ion-icon name="add" type="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Request</ion-title>
  </ion-toolbar>
  <ion-segment (ionChange)="onFilterUpdate($event)" [(ngModel)]="segment">
    <ion-segment-button *ngIf="!isDonor" value="active"
      >Active</ion-segment-button
    >
    <ion-segment-button *ngIf="isDonor" value="assigned"
      >Assigned</ion-segment-button
    >
    <ion-segment-button *ngIf="isDonor" value="follow-up"
      >Follow-up</ion-segment-button
    >
    <ion-segment-button value="history">History</ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content>


  <ion-grid *ngIf="isLoading">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!isLoading && (!requests || requests.length <= 0)">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <p>There are no requests!</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!isLoading && requests.length > 0">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-list>
          <ion-item class="ion-no-padding"
            *ngFor="let request of requests"
            (click)="onRequestClicked(request)"
            detail
          >
            <ion-grid>
              <ion-row>
                <ion-col
                  ><ion-label class="ion-text-wrap">
                    <h3>{{ request.requester }}</h3>
                  </ion-label></ion-col
                >
                <ion-col
                  ><ion-label class="ion-text-right">
                    <p *ngIf="isDonor">{{ request.distance?.toFixed(2) }} KM</p>
                    <p *ngIf="!isDonor">{{ request.requestStatus.desc }}</p>
                  </ion-label></ion-col
                >
              </ion-row>
              <ion-row>
                <ion-col
                  ><ion-label class="ion-text-wrap">
                    <p>{{ request.location?.address }}</p>
                  </ion-label></ion-col
                >
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
