ion-card {
  border-radius: 15px;
}

.info {
  background-color: var(--oxyplus-light-trans-bg-color);
  border-radius: 10px;
  margin-bottom: 5px;

  ion-row {
    padding:0px 2px;
  }
}

ion-card-header {
  background-color: var(--oxyplus-light-trans-bg-color);
}
