<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/discover"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="isNewProfile">Complete your profile</ion-title>
    <ion-title *ngIf="!isNewProfile">Update your profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-progress-bar type="indeterminate" *ngIf="showProgess"></ion-progress-bar>

<ion-content>
  <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input [(ngModel)]="user.name" placeholder="Enter name"></ion-input>
    <ion-icon name="person-outline" slot="start"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Location</ion-label>
    <app-location-autocomplete
      style="width: 100%;"
      [location]="user.location"
      (onChange)="onLocationChange($event)">
    </app-location-autocomplete>
    <!-- <app-google-autocomplete></app-google-autocomplete> -->
    <ion-icon name="locate-outline" slot="start"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Contact</ion-label>
    <ion-input [(ngModel)]="user.mobile" placeholder="Enter contact" type="number"></ion-input>
    <ion-icon name="call-outline" slot="start"></ion-icon>
  </ion-item>
  <ion-item *ngIf="roles">
    <ion-label position="floating">Profile Type</ion-label>
    <ion-select placeholder="Select purpose" [(ngModel)]="selectedRoleID" (ionChange)="checkIfDonor()">
      <ion-select-option *ngFor="let role of roles" [value]="role._id ">{{ role.name }}</ion-select-option>
    </ion-select>
    <ion-icon name="briefcase-outline" slot="start"></ion-icon>
  </ion-item>
  <ion-item *ngIf="isDonor">
    <ion-label position="floating">Quantity</ion-label>
    <ion-input [(ngModel)]="user.quantity" placeholder="enter no of cylinder" type="number"></ion-input>
    <ion-icon name="cart-outline" slot="start"></ion-icon>
  </ion-item>
  <section>
    <ion-button *ngIf="isNewProfile" expand="full" (click)="createProfile()">Create</ion-button>
    <ion-button *ngIf="!isNewProfile" expand="full" (click)="updateProfile()">Update</ion-button>
  </section>
</ion-content>
