<ion-header [translucent]="true" [collapse]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title size="small">Discover</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-buttons *ngIf="!isDonor" slot="end">
      <ion-button routerLink="/request/new-request">
        <ion-icon name="add" type="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-item>
    <ion-range
      min="10"
      max="50"
      step="5"
      snaps="true"
      [(ngModel)]="distance"
      (ionChange)="onRangeChange()"
    >
    <ion-label slot="start">10 KM</ion-label>
    <ion-label slot="end">50 KM</ion-label>
    </ion-range>
  </ion-item>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="discover-map">
        <ion-label>Map View</ion-label>
        <ion-icon name="map"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="discover-list">
        <ion-label>List View</ion-label>
        <ion-icon name="list"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
