<ion-header>
  <ion-toolbar>
    <ion-title>Raise help Request</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [disabled]="!form.valid" (click)="addRequest()">
        <ion-icon name="checkmark-outline" type="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-item>
            <ion-label position="floating">Requester</ion-label>
            <ion-input formControlName="requester"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-item>
            <ion-label position="floating">Location</ion-label>
            <!-- <ion-input formControlName="location"></ion-input> -->
            <app-location-autocomplete
              style="width: 100%"
              [address]="location"
              (onChange)="onLocationChange($event)"
            >
            </app-location-autocomplete>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-item>
            <ion-label position="floating">Contact</ion-label>
            <ion-input formControlName="contact"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
