<ion-header>
  <ion-toolbar>
    <ion-title>Raise help request</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/discover"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [disabled]="!form.valid" (click)="addRequest()">
        <ion-icon name="checkmark-outline" type="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col size-md="4" offset-md="4">
          <ion-item lines="none">
            <ion-label>For someone else</ion-label>
            <ion-toggle slot="start" name="onBehalfFlag" (ionChange)="onBehalfChanged($event)"></ion-toggle>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-item>
            <ion-label position="floating">Requester</ion-label>
            <ion-input formControlName="requester"></ion-input>
            <ion-icon name="person-outline" slot="end"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-item>
            <ion-label position="floating">Location</ion-label>
            <!-- <ion-input formControlName="location"></ion-input> -->
            <app-location-autocomplete
              style="width: 100%"
              [address]="location"
              (onChange)="onLocationChange($event)"
            >
            </app-location-autocomplete>
            <!-- <app-location-autosuggest></app-location-autosuggest> -->
            <ion-icon name="locate-outline" slot="end"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-item>
            <ion-label position="floating">Contact</ion-label>
            <ion-input formControlName="contact" type="number"></ion-input>
            <ion-icon name="call-outline" slot="end"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
